@charset "utf-8";

html,body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { margin: 0;padding: 0;}
body{ font-family:  Arial, Helvetica, sans-serif; font-size: 12px; color: #000; line-height: 18px; }
table {	border-collapse: collapse; border-spacing: 0; width: 100%;}
th,td{ text-align: left;}
a{ color: #555555; text-decoration: none; cursor: pointer; }
a:hover{ text-decoration: underline;}
fieldset,img {border: 0;}
h1,h2,h3,h4,h5,h6{ font-weight: normal;}
ol,ul {	list-style: none;}
.font11{ font-size: 11px;}
h1,h2,h3,h4,h5,h6 {font-weight: normal;}
.t-cen{ text-align: center;}
.t-right{ text-align: right;}
.t-left{ text-align: left;}
.left{ float: left;}
.right{ float: right;}
a{ cursor: pointer;}
button{ background: none; border: 0 none; cursor: pointer; margin: 0; overflow: visible; padding: 0;  width: auto;}
textarea{resize: none}
img{ border: none;}
input.check{ width: 15px; height: 15px;}
.red{ color: #ef0101 !important;}

#wrapper{ width: 100%; margin: 0 auto;}
.header{ background: #cd0909; padding: 15px 5px 15px 10px;  border-bottom: 8px solid #e9ae10;}
.header h1{ color: #ffffff; font-size: 24px; line-height: 24px; font-weight: bold; margin: 0px 0px 15px; text-transform: uppercase;}
.box-header{ font-family: Tahoma,Arial, Helvetica, sans-serif; font-size: 21px; border: 2px solid #4f0000; border-radius: 5px; padding: 10px 5px; display: inline-block; color: #fff;}
.box-header strong{ color: #fddc00;} 
.link li{ line-height: 30px;}
.link li a{  background: #e0e0e0 url(../images/bg-dot.png) no-repeat 15px 8px; padding: 0px 0px 0px 15px; -moz-box-shadow: inset -5px -5px 5px #b7b7b7; -webkit-box-shadow: inset -5px -5px 5px #bababa; box-shadow: inset -5px -5px 5px #bababa; display: block; padding: 0px 0px 0px 40px; color: #020202; font-size: 18px;}

.link li a span{background: url(../images/arrow2.png) no-repeat right; display: inline-block; min-width: 195px;}

.link li a:hover,.link li.active a{ background: #eac310 url(../images/bg-dot.png) no-repeat 15px 8px; -moz-box-shadow: inset -5px -5px 5px #bf9f0d;}
.link li .submenu{ padding: 7px 15px; margin: 0px 0px 0px; background: #fff;}
.link li .submenu li{ background: #fff; -moz-box-shadow: 0px;  -webkit-box-shadow: 0px; background: url(../images/ico-x.png) no-repeat 0px; padding: 0px 0px 0px 25px; }
.link li .submenu li.arrow{ background: #fff; -moz-box-shadow: 0px;  -webkit-box-shadow: 0px; background: url(../images/list-style-arrow.png) no-repeat 0px; padding: 0px 0px 0px 25px; }
.link li .submenu li a{ background: #fff; border-bottom: 1px dashed #bbbaba; box-shadow: inset -5px -5px 5px #fff; color: #8f0101; font-size: 18px; display: block; padding: 0px 0px 0px 0px; -moz-box-shadow: 0px;  -webkit-box-shadow: 0px; }
.link li .submenu li a:hover{ color: #000; text-decoration: none;}
.link li .submenu li a:hover{background: #fff; -moz-box-shadow: inset -5px -5px 5px #fff;}
.link li .submenu li.last a{ border-bottom: none;}
.link li.last .submenu li{ background: url(../images/bg-dot.png) no-repeat 0px 8px;}
.link li.last .submenu li a{ border-bottom: none; color: #000; }
.link li.last .submenu li a:hover{ color: #8f0101;}
.link li.last .submenu li.first{ background: none; padding: 0px;}
.link li.last .submenu li.first a{ color: #fff; font-family: Verdana, Geneva, sans-serif; box-shadow: -5px -5px 5px #d50707 inset; background: #d50707; font-weight: bold; padding: 0px 15px; border-radius: 5px; display: inline-block; }
.link li h2{font-size: 18px;}


.sub li{ line-height: 30px;}
.sub li a{  background: #e0e0e0 url(../images/bg-dot.png) no-repeat 15px 8px; padding: 0px 0px 0px 15px; -moz-box-shadow: inset -5px -5px 5px #b7b7b7; -webkit-box-shadow: inset -5px -5px 5px #bababa; box-shadow: inset -5px -5px 5px #bababa; display: block; padding: 0px 0px 0px 40px; color: #020202; font-size: 18px;}

.sub li a span{background: url(../images/arrow2.png) no-repeat right; display: inline-block; min-width: 195px;}
.sub li a:hover,.sub li.active a{ background: #eac310 url(../images/bg-dot.png) no-repeat 15px 8px; -moz-box-shadow: inset -5px -5px 5px #bf9f0d;}
.sub .submenu{ padding: 0px 15px; margin: 0px 0px 0px; background: #fff;}
.sub .submenu li{ background: #fff; -moz-box-shadow: 0px;  -webkit-box-shadow: 0px; background: url(../images/ico-x.png) no-repeat 0px; padding: 0px 0px 0px 25px; }
.sub .submenu li a{ background: #fff; border-bottom: 1px dashed #bbbaba; box-shadow: inset -5px -5px 5px #fff; color: #8f0101; font-size: 18px; display: block; padding: 0px 0px 0px 0px; -moz-box-shadow: 0px;  -webkit-box-shadow: 0px; }
.sub .submenu li a:hover{ color: #000; text-decoration: none;}
.sub .submenu li a:hover{background: #fff; -moz-box-shadow: inset -5px -5px 5px #fff;}
.sub .submenu li.last a{ border-bottom: none;}

.sub .submenu li{ background: url(../images/bg-dot.png) no-repeat 0px 8px;}
.sub .submenu li a{ border-bottom: none; color: #000; }
.sub .submenu li a:hover{ color: #8f0101;}
.sub .submenu li.first{ background: none; padding: 0px;}
.sub .submenu li.first a{ color: #fff; font-family: Verdana, Geneva, sans-serif; box-shadow: -5px -5px 5px #d50707 inset; background: #d50707; font-weight: bold; padding: 0px 15px; border-radius: 5px; display: inline-block; }

.box-sc{ display: table; background: #cfffd7; color: #111; font-size: 14px; width: 100%;}
div.sc-first{ display: table-cell; width: 30px; background: #fff09b; text-align: right; padding: 10px 10px 10px 5px; -moz-box-shadow: inset -5px -5px 5px 5px #fff;
-webkit-box-shadow: inset -3px -3px 5px 5px #fff;
box-shadow: inset -2px -2px 5px 5px #e7d98c;}
.box-sc p{ padding: 0px 0px 7px; margin: 0px 0px 6px;}
div.sc-first strong{ padding: 0px 10px 0px 0px;}
.sc-content{ display: table-cell; width: 295px; padding: 10px 0px 10px 0px;}
.sc-content p{ margin: 0px 10px 7px; border-bottom: 1px dashed #bbbaba; padding: 0px 0px 5px;}
.sc-content p.last{ border-bottom: none;}
.sc-content p strong{ padding: 0px 9px 0px 0px;}
.slide-sc{ margin: 10px 0px 20px; font-family: Verdana, Geneva, sans-serif;}
.slide-sc{ width: 100%; position: relative;}
.slide-sc a.pre,.slide-sc a.next{ position: absolute; font-size: 18px; font-weight: bold; color: #000;}
.slide-sc a.pre{ left: 10px; top: 12px;}
.slide-sc a.next{ right: 10px; top: 12px;}
.slide-sc a:hover{ text-decoration: none;}
.slidein{ width: 260px; margin: 0 auto; padding: 0px 15px; color: #00549f; font-size: 15px; line-height: 20px; text-align: center; font-weight: bold;}
.bot-mobile{ padding: 0px 0px 10px; margin: 20px 0px 0px;}
.bot-mobile .share{ float: left; background: url(../images/bg-share.gif) no-repeat right top; line-height: 33px; margin: 10px 10px 0px 0px; padding: 0px 40px 0px 12px; color: #fff; font-size: 14px; font-weight: bold;}
.bot-mobile a{ margin: 0px 10px 0px 0px;}
.statis{ padding: 10px; font-family: Verdana, Geneva, sans-serif;}
.txt-blue{ color: #006ed1; font-size: 18px; font-weight: bold;}
.statis p.txt-blue{ margin: 15px 0px;}
.number{ display: inline-block; background: #d50707; border-radius: 5px; line-height: 44px; padding: 0px 15px; color: #e5c61b; font-size: 18px; font-family: Verdana, Geneva, sans-serif; font-weight: bold; text-transform: uppercase;}
.number span{ color: #fff; text-transform: none;}
.statis div.box{ margin: 12px 0px;}
.box-yelow{background: #fff09b; border-radius: 3px; padding: 15px 0px; border: 1px solid #d69a1b;}
.box-yelow p,.box-blue p{ margin: 0px 20px; border-bottom: 1px dashed #c9c5b4; color: #000; font-size: 16px; line-height: 30px; text-align: center;}
.box-yelow p.last,.box-blue p.last{ border-bottom: none;}
.mr10{ margin-right: 10px; }
.box-blue{ background: #cfffd7; border-radius: 3px; padding: 15px 0px; border: 1px solid #88d7b5;}
.detail-top{ padding: 0px 12px;}
.tbl-list{ margin: 10px 0px 15px;}
.tbl-list th,.tbl-list td{ padding: 5px 10px; font-size: 16px; border: 1px solid #7f7f7f; color: #000;}
.tbl-list th{ background: #545454; color: #ebc630;}
.tbl-list th.first{ width: 40px;}
.tbl-list td p{ margin: 0px 0px 10px;}
.tbl-list td span{ padding: 0px 7px 0px 7px;}
.share-ico a{ margin: 0px 15px 0px 0px;}
.box-detail{ margin: 15px 0px;}
.box-css3{ display: inline-block; background: #d50707; color: #fff; font-family: Verdana, Geneva, sans-serif; font-weight: bold; font-size: 14px; line-height: 43px; padding: 0px 30px 0px 15px; border-radius: 5px; color: #fff; text-decoration: none;}
a.box-css3{ position: relative;}
a.box-css3 img{ position: absolute; top: -8px; right: -40px;}
.link1{ margin: 0px 0px 15px;}
.link1 li{ line-height: 30px;}
.link1 a{ background: url(../images/bg-dot.png) no-repeat scroll 15px 8px #fff09b; box-shadow: -5px -5px 5px #ded187 inset; color: #020202;  display: block;  font-size: 18px;  padding: 0 0 0 40px;}
.link1 a:hover{ text-decoration: none;}
.lookup label{ display: block; font-size: 18px; font-weight: bold; display: block; font-family: Verdana, Geneva, sans-serif; line-height: 22px; margin: 20px 0px 10px;}
.lookup input{-moz-box-shadow: 2px 2px #979797; -webkit-box-shadow: 2px 2px #979797; box-shadow: 2px 2px #979797; width: 200px; padding: 0px 0px 0px 10px; height: 25px; border: 1px solid #eaeaea; color: #000; font: 21px/25px Arial, Helvetica, sans-serif;}
.lookup{ padding: 0px 12px;}
.lookup select{-moz-box-shadow: 2px 2px #979797; -webkit-box-shadow: 2px 2px #979797; text-align: center; box-shadow: 2px 2px #979797; width: 212px; font-size: 21px;}
.lookup select.date{ width: 72px; margin: 0px 10px 0px 0px;}
.lookup select.month{ width: 100px; margin: 0px 10px 0px 0px;}
.lookup select.year{ width: 130px;}
.lookup button{ margin: 15px 0px 0px; padding: 0px 15px; color: #ede125; text-transform: uppercase;}
.lookup-num{ background: #fde6a7; border-bottom: 5px solid #fcd979; border-top: 5px solid #fcd979; padding: 12px; margin: 15px 0px 0px;}
.lookup-num p{ line-height: 42px; font: bold 17px Verdana, Geneva, sans-serif; margin: 0px 0px 10px;}
p span.txt-num{ display: inline-block; color: #fff; color: #ede125; font-size: 21px; padding: 5px 15px; background: #686868; border-radius: 4px; margin: 0px 0px 0px 15px;}
.lookup-num .tbl-list{ width: 100%; margin: 0 auto;}

/*Clearfix*/ 
.clearfix { display: inline-block; }
html[xmlns] .clearfix { display: block;}
* html .clearfix {height: 1%;}
.clear {clear: both;}
.clearfix:after {content: ".";display: block;clear: both;visibility: hidden;line-height: 0;height: 0;}

#copyright{
	background: #CD0909;
	padding: 15px 5px 15px 10px;
	border-bottom: 8px solid #E9AE10;
	color: #fff;
	font-weight: bold;
}

#copyright a{color: #1414EB;}


table.service{border-top: 1px solid #000; border-left: 1px solid #000; }
table.service td, table.service th{border-right: 1px solid #000; border-bottom: 1px solid #000; padding: 2px;}
table.service td strong span{color:#FF0000;}

.content h1.h-title{padding: 5px; font-size: 21px; background-color:#999;}