@charset "utf-8";
body{margin:0px;padding:15px 0 15px 0px}
a{text-decoration:none}
.box_kqxs{width:730px;margin:0 auto;font-family:Arial,Helvetica,sans-serif;border:5px solid #999;padding:0px}
.box_kqxs td{min-width:3px}
.box_kqxs .title{text-align:center;font-family:"Times New Roman",Times,serif;font-size:30px;vertical-align:middle;font-weight:bold;padding-top:2px;border-bottom:1px solid #666;height:40px;text-transform:uppercase}
.box_kqxs .topsms{text-align:center;font-family:"Times New Roman",Times,serif;font-size:22px;vertical-align:middle;padding:0px;height:28px}
.box_kqxs .bottom{text-align:center;font-family:"Times New Roman",Times,serif;font-size:24px;vertical-align:middle;padding:0px;border-top:1px #666 solid;height:36px}
.bkqmientrung,.bkqmiennam{border:1px #999 solid;border-right:0px;border-bottom:0px;size:11px;line-height:100%;margin:0 -1px}
.bkqmientrung div,.bkqmiennam div{line-height:90%}
.bkqmientrung .leftcl,.bkqmiennam .leftcl{width:120px}
.bkqmientrung .leftcl td,.bkqmiennam .leftcl td{border:1px #999 solid;border-top:0px;border-left:0px;text-align:center;height:25px;padding:1px;width:60px;vertical-align:middle}
.bkqmientrung .rightcl td,.bkqmiennam .rightcl td{border:1px #999 solid;border-top:0px;border-left:0px;text-align:center;height:25px;padding:1px}
.bkqmientrung .leftcl .thu,.bkqmiennam .leftcl .thu{height:36px;font-weight:bold;font-size:26px;font-family:"Times New Roman",Times,serif}
.bkqmientrung .leftcl .ngay,.bkqmiennam .leftcl .ngay{height:36px;font-weight:bold;font-size:20px;background-color:#f3f3f3}
.bkqmientrung .rightcl .tinh,.bkqmiennam .rightcl .tinh{height:36px;font-weight:bold;font-size:26px;font-family:"Times New Roman",Times,serif;line-height:28px}
.bkqmientrung .rightcl .matinh,.bkqmiennam .rightcl .matinh{height:36px;font-weight:bold;font-size:28px;background-color:#f3f3f3}
.bkqmientrung .leftcl .giai8,.bkqmiennam .leftcl .giai8{height:40px;font-size:20px}
.bkqmientrung .rightcl .giai8,.bkqmiennam .rightcl .giai8{height:40px;font-weight:bold;font-size:35px;font-family:Arial,Helvetica,sans-serif;text-align:center}
.bkqmientrung .leftcl .giai7,.bkqmiennam .leftcl .giai7{height:35px;font-size:20px;background-color:#F3F3F3}
.bkqmientrung .rightcl .giai7,.bkqmiennam .rightcl .giai7{text-align:center;height:35px;font-size:25px;line-height:40px;font-weight:bold;background-color:#f3f3f3}
.bkqmientrung .leftcl .giai6,.bkqmiennam .leftcl .giai6{height:75px;font-size:20px}
.bkqmientrung .rightcl .giai6,.bkqmiennam .rightcl .giai6{text-align:center;height:75px;font-size:25px;line-height:40px;font-weight:bold}
.bkqmientrung .rightcl .giai6 div,.bkqmiennam .rightcl .giai6 div{clear:both;display:block}
.bkqmientrung .leftcl .giai5,.bkqmiennam .leftcl .giai5{height:35px;font-size:20px;background-color:#f3f3f3}
.bkqmientrung .rightcl .giai5,.bkqmiennam .rightcl .giai5{text-align:center;height:35px;font-size:25px;line-height:40px;font-weight:bold;background-color:#f3f3f3}
.bkqmientrung .leftcl .giai4,.bkqmiennam .leftcl .giai4{height:170px;font-size:20px}
.bkqmientrung .rightcl .giai4,.bkqmiennam .rightcl .giai4{text-align:center;height:170px;font-size:25px;line-height:40px;font-weight:bold}
.bkqmientrung .rightcl .giai4 div,.bkqmiennam .rightcl .giai4 div{clear:both;display:block}
.bkqmientrung .leftcl .giai3,.bkqmiennam .leftcl .giai3{height:60px;font-size:20px;background-color:#f3f3f3}
.bkqmientrung .rightcl .giai3,.bkqmiennam .rightcl .giai3{text-align:center;height:60px;font-size:25px;line-height:40px;font-weight:bold;background-color:#f3f3f3}
.bkqmientrung .rightcl .giai3 div,.bkqmiennam .rightcl .giai3 div{clear:both;display:block}
.bkqmientrung .leftcl .giai2,.bkqmiennam .leftcl .giai2{height:35px;font-size:20px}
.bkqmientrung .rightcl .giai2,.bkqmiennam .rightcl .giai2{text-align:center;height:35px;font-size:25px;line-height:40px;font-weight:bold}
.bkqmientrung .leftcl .giai1,.bkqmiennam .leftcl .giai1{height:35px;font-size:20px;background-color:#f3f3f3}
.bkqmientrung .rightcl .giai1,.bkqmiennam .rightcl .giai1{text-align:center;height:35px;font-size:25px;line-height:40px;font-weight:bold;background-color:#f3f3f3}
.bkqmientrung .leftcl .giaidb,.bkqmiennam .leftcl .giaidb{height:50px;font-size:35px}
.bkqmientrung .rightcl .giaidb,.bkqmiennam .rightcl .giaidb{text-align:center;height:50px;font-weight:bold;font-size:40px;line-height:50px}
.box_kqxs_mienbac .boxtop .title{text-align:center;font-size:32px;vertical-align:middle;font-weight:bold;line-height:32px;text-transform:uppercase}
.box_kqxs_mienbac .apdung{text-align:center;font-style:italic;font-size:26px;line-height:1.5}
.box_kqxs_mienbac .loaive{text-align:center;font-size:26px;line-height:1.5;float:left;width:50%}
.box_kqxs_mienbac .kyhieu{text-align:center;font-size:26px;line-height:1.5;float:left;width:50%}
.box_kqxs_mienbac .ngay{text-align:right;font-size:26px;line-height:1.5;padding-right:20px}
.box_kqxs_mienbac .txtngay{font-size:32px;font-family:Georgia,"Times New Roman",Times,serif;font-weight:bold}
.box_kqxs_mienbac .bottom{text-align:right;font-size:26px;line-height:1.5;font-weight:bold}
.bkqmienbac{border:1px #999 solid;border-right:0px;border-bottom:0px;size:11px;width:100%}
.bkqmienbac .title{height:35px;text-align:left;font-size:26px;vertical-align:middle;font-weight:bold;padding-left:25px}
.bottom1{height:50px;font-size:22px;line-height:45px;text-align:center;vertical-align:middle;font-weight:bold;font-family:"Times New Roman",Times,serif;border-top:1px solid #999}
.bottom2{height:50px;font-size:22px;line-height:45px;text-align:center;vertical-align:middle;font-weight:bold;font-family:"Times New Roman",Times,serif;border-top:1px solid #999}
.bkqmienbac .leftcl{width:120px}
.bkqmienbac .leftcl td{border:1px solid #999;border-top:0;border-left:0;text-align:center;height:25px;padding:1px;width:50px}
.bkqmienbac .rightcl td{border:1px solid #999;border-top:0;border-left:0;text-align:center;height:25px;padding:1px 5px 1px 5px;font-family:Tahoma,Geneva,sans-serif}
.bkqmienbac .thu{border:1px #999 solid;border-top:0px;border-left:0px;height:30px;font-weight:bold;font-size:24px}
.bkqmienbac .rightcl div{line-height:100%}
.bkqmienbac .ngay{border:1px #999 solid;border-top:0px;border-left:0px;height:30px;text-align:left;padding-left:20px;font-weight:bold;font-size:24px}
.bkqmienbac .rightcl .tinh{height:25px;font-weight:bold;font-size:24px}
.bkqmienbac .rightcl .matinh{height:25px;font-weight:bold;font-size:24px;background-color:#f3f3f3}
.bkqmienbac .leftcl .giai8{height:36px;font-size:20px}
.bkqmienbac .rightcl .giai8{height:36px;font-weight:bold;color:#903;font-size:24px;line-height:100%}
.bkqmienbac .leftcl .giai7{height:60px;font-size:20px;background-color:#f3f3f3}
.bkqmienbac .rightcl .giai7{height:60px;font-size:50px;font-weight:bold;background-color:#F3F3F3;line-height:100%}
.bkqmienbac .rightcl .giai7 div{width:25%;display:inline-block;float:left}
.bkqmienbac .leftcl .giai6{height:50px;font-size:20px}
.bkqmienbac .rightcl .giai6{height:50px;font-size:36px;line-height:46px;font-weight:bold;line-height:100%}
.bkqmienbac .rightcl .giai6 div{width:33%;display:inline-block;float:left}
.bkqmienbac .leftcl .giai5{height:80px;font-size:20px;background-color:#f3f3f3}
.bkqmienbac .rightcl .giai5{height:80px;font-size:36px;line-height:40px;font-weight:bold;background-color:#F3F3F3}
.bkqmienbac .rightcl .giai5 div{width:33%;display:inline-block;float:left}
.bkqmienbac .leftcl .giai4{height:80px;font-size:20px}
.bkqmienbac .rightcl .giai4{height:80px;font-size:36px;line-height:40px;font-weight:bold}
.bkqmienbac .rightcl .giai4 div{width:50%;display:inline-block;float:left}
.bkqmienbac .leftcl .giai3{height:80px;font-size:20px;background-color:#f3f3f3}
.bkqmienbac .rightcl .giai3{height:80px;font-size:36px;line-height:40px;font-weight:bold;background-color:#f3f3f3}
.bkqmienbac .rightcl .giai3 div{width:33%;display:inline-block;float:left}
.bkqmienbac .leftcl .giai2{height:50px;font-size:20px}
.bkqmienbac .rightcl .giai2{height:50px;font-size:36px;line-height:46px;font-weight:bold}
.bkqmienbac .rightcl .giai2 div{width:50%;display:inline-block;float:left}
.bkqmienbac .leftcl .giai1{height:50px;font-size:20px;background-color:#f3f3f3}
.bkqmienbac .rightcl .giai1{height:50px;font-size:36px;font-weight:bold;background-color:#F3F3F3;line-height:100%}
.bkqmienbac .leftcl .giaidb{height:80px;font-size:20px}
.bkqmienbac .rightcl .giaidb{height:80px;font-size:56px;font-weight:bold;line-height:100%}
.vdtopdate{float:right;position:relative;padding-right:5px}
.vdtopname{float:left;padding-left:5px;font-weight:bold;font-style:italic}
.vdbottom{font-weight:bold;font-style:italic}

table.tbl-xs{border-spacing:0;empty-cells:show;width:100%}
.tbl-xs th{border-bottom:1px solid #999;padding:10px 7px;text-align:center;background-color:#F3F3F3}
.tbl-xs td{
    background: #F7F7F7;
    border-bottom: 1px solid #999;
    padding:7px;
    text-align: center;
    font-size:20px;
}
.tbl-xs td.first {
    border-right: 1px solid #999;
    width: 20%;
}
.tbl-xs td.bg-gray{background:#EEEEEE}
.tbl-xs .border-right{border-right:1px solid #999}
.title_loto{color:#fff;background:#000;font-size:24px;padding:5px;border-bottom: 1px solid #999;}