@charset "utf-8";
/*Begin comment*/
html,body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { margin: 0;padding: 0;}
body{ background: #f3f3f3; font-family: Verdana, Geneva, sans-serif; font-size: 12px; color: #111; line-height: 15px;}
table { empty-cells: show; border-spacing: 0; width: 100%;}
th,td{ text-align: left;}
a{ color: #111; text-decoration: none; }
a:hover{ text-decoration: underline;}
fieldset,img {border: 0;}
ol,ul {	list-style: none;}
.font11{ font-size: 11px;}
.font10{ font-size: 10px;}
h1,h2,h3,h4,h5,h6 {font-weight: normal;}
.t-cen{ text-align: center !important;}
.t-left{ text-align: left !important;}
.t-right{ text-align: right !important;}
.left{ float: left;}
.right{ float: right;}
.red{ color: #a80804 !important;}
.font18{ font-size: 18px !important;}
.font10{ font-size: 10px !important;}
.font12{ font-size: 12px !important;}
.font24{ font-size: 24px !important;}
.font14{ font-size: 14px !important;}
.font16{ font-size: 16px !important;}
.t-gray{ color: #b1b1b1 !important;}
input,select{ border: 1px solid #a3a3a3;}
button::-moz-focus-inner { padding:0; border:0; } /* FF Fix */
button { -webkit-border-fit:lines; } /* <- Safari & Google Chrome Fix */
button { overflow:visible; width:auto; border:0; padding:0; margin:0; background:transparent; cursor:pointer; }
button span{}

.pathway li{ display: inline; font-size: 12px;}
.pathway li a{ line-height: 37px;}
.pathway li strong{ font-weight: normal; font-size: 12px !important; text-transform: none;}
.pathway li span{ padding: 0px 5px;}
.toolbar{ text-align: center; padding: 20px 0px 50px;}
.toolbar li{ display: inline; margin: 0px 2px;}
.toolbar li a{ padding: 5px; color: #333; border: 1px solid #ddd;
  background-color: #fdfdfd;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fdfdfd), to(#e9e9e9)); /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, #fdfdfd, #e9e9e9); /* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image:    -moz-linear-gradient(top, #fdfdfd, #e9e9e9); /* FF3.6 */
  background-image:     -ms-linear-gradient(top, #fdfdfd, #e9e9e9); /* IE10 */
  background-image:      -o-linear-gradient(top, #fdfdfd, #e9e9e9); /* Opera 11.10+ */
  background-image:         linear-gradient(to bottom, #fdfdfd, #e9e9e9);
}
.toolbar li.current{background-color: #007ebf;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#007ebf), to(#07699c)); /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, #007ebf, #07699c); /* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image:    -moz-linear-gradient(top, #007ebf, #07699c); /* FF3.6 */
  background-image:     -ms-linear-gradient(top, #007ebf, #07699c); /* IE10 */
  background-image:      -o-linear-gradient(top, #007ebf, #07699c); /* Opera 11.10+ */
  background-image:         linear-gradient(to bottom, #007ebf, #07699c); border: 1px solid #005785; color: #fff; padding: 5px;
	}

#wrapper{ min-width: 100%; margin: 0 auto;}
.header{ 
	
	background-color: #b8100c;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#b8100c), to(#960502)); /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, #b8100c, #960502); /* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image:    -moz-linear-gradient(top, #b8100c, #960502); /* FF3.6 */
  background-image:     -ms-linear-gradient(top, #b8100c, #960502); /* IE10 */
  background-image:      -o-linear-gradient(top, #b8100c, #960502); /* Opera 11.10+ */
  background-image:         linear-gradient(to bottom, #b8100c, #960502);
 border-bottom: 1px solid #760200;
 }
 .header a.logo{ margin: 3px 15px 3px 5px; }
.menu{ float: left; }
#nav { padding: 0px 0px 0px;}
#nav li{ float: left; position: relative;}
#nav li a{ display: block; padding: 0px 15px 6px; float: left; line-height: 42px; text-align: center; color: #fff; text-shadow: 1px 1px 0px #760200; }
#nav li a:hover{ background-color: #F0C500;}
#nav li.arrow a{ background: url(images/arrow-yelow.png) no-repeat 97% center;}
#nav li.arrow a:hover{ background: #F0C500 url(images/arrow-red.png) no-repeat 97% center;}
#nav li a:hover,#nav li a.active{ text-decoration: none;}
#nav li a.active{ font-weight: bold;}
#nav li .sub-menu{ position: absolute; top: 40px; padding: 0px 0px; width: 200px; z-index: 99; left: 0px;}
#nav li ul{  background: #f0c500;}
#nav li .sub-menu li{ float: none;}
#nav li .sub-menu li a{ display: block; float: none; display: block; line-height: 25px; text-align: left; color: #801215; font-weight: normal; text-shadow: none; background: none; border-left: 4px solid #f0c500; font-size: 12px;padding: 0 5px}

#nav li .sub-menu li ul { position: absolute; width: 290px; border:none; left: 300px;  }
#nav li .sub-menu li a:hover,#nav li .parent li a:hover{ background-color: #ffe881 !important; background-image: none !important; border-left: 4px solid #8e1618; text-decoration: none;}


.menuRight{ float: right;
  background-color: #a60f0c;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#a60f0c), to(#860402)); /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, #a60f0c, #860402); /* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image:    -moz-linear-gradient(top, #a60f0c, #860402); /* FF3.6 */
  background-image:     -ms-linear-gradient(top, #a60f0c, #860402); /* IE10 */
  background-image:      -o-linear-gradient(top, #a60f0c, #860402); /* Opera 11.10+ */
  background-image:         linear-gradient(to bottom, #a60f0c, #860402);
}
.header .menuRight{ padding: 17px 15px;}
.content{ min-height: 550px;}
.tit-xs{ border-top: 1px solid #e13f3b;
 background-color: #b8110d;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#b8110d), to(#970502)); /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, #b8110d, #970502); /* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image:    -moz-linear-gradient(top, #b8110d, #970502); /* FF3.6 */
  background-image:     -ms-linear-gradient(top, #b8110d, #970502); /* IE10 */
  background-image:      -o-linear-gradient(top, #b8110d, #970502); /* Opera 11.10+ */
  background-image:         linear-gradient(to bottom, #b8110d, #970502);
  border-bottom: 1px solid #5d0604; padding: 0px 0px 0px 5px;
 }
.tit-xs .menuRight{ padding: 5px;}
.tit-xs .title-xs{ background: url(images/icon-x.png) no-repeat left top; line-height: 22px; padding: 0px 0px 0px 22px; height: 22px; float: left; overflow: hidden; width: 78%; text-shadow: 1px 1px 0px #760200; color: #fff; margin: 3px 0px 2px;}
.page-title{ background: url(images/bg-title.png) repeat-x left top; line-height: 30px; padding: 0px 5px;}
.page-title strong{ color: #aa0c08; text-shadow: 1px 1px 0px #ffdf00;}
.tbl-xs td{ background: #f7f7f7; padding: 10px 7px; border-top: 1px solid #FFF; border-bottom: 1px solid #e1e1e1; text-align: center;}
.tbl-xs td.first{ border-right: 1px solid #e1e1e1; width: 20%;}
.tbl-xs td.bg-gray{ background: #eee;}
.tbl-xs th{ padding: 10px 7px; text-align: center; background:url(images/bg-th.png) repeat-x left top; border-bottom: 1px solid #e1e1e1;}
.tbl-xs .border-right{ border-right: 1px solid #e1e1e1;}
.provide{ background: #f3f3f3; padding: 15px 10px; text-align: center;}
.provide li{ display: inline-block; padding: 0px 10px;}
.provide li a{ display: inline-block; line-height: 15px; background: url(images/arrow.png) no-repeat left center; padding: 0px 0px 0px 20px; font-weight: bold;text-transform:uppercase}
.provide li a:hover{ text-decoration: none;}
.bg-shadow{ background: url(images/bg-shadow.gif) repeat-x left top !important; padding: 20px 0px 0px;}
.xs-menu{ border-bottom: 1px solid #fff;}
.xs-menu li{ padding: 15px 10px; border-bottom: 1px solid #dfdfdf; border-top: 1px solid #fff;}
.xs-menu li.first{ border-top: none;}
.xs-menu li a{ background: url(images/arrow-small.png) no-repeat left center; padding: 0px 0px 0px 18px; display: block;}


.select-provice{ background: #eee; padding: 10px; line-height: 27px;}
.select-provice p.red{ line-height: 20px;}
.select-provice p{ padding: 10px 0px;}
.select-provice div.left{ margin: 0px 10px 0px 0px;}
.select-provice label,.title-tk label{ line-height: 27px; font-weight: bold; margin: 0px 5px 0px 0px;}
.title-tk{ background: url(images/bg-tit.png) repeat-x left 0px; line-height: 27px;  font-weight: bold; } 
.title-tk strong{ background: url(images/bg-header.gif) no-repeat left top; display: block; padding: 0px 0px 0px 18px;}
.tbl-tk th,.tbl-tk td{ padding: 7px 10px; border-bottom: 1px solid #e1e1e1;  border-right: 1px solid #e1e1e1;}
.tbl-tk th{ background: #eee; border-top: 1px solid #f7f7f7; text-align: center;}
.tbl-tk td{ padding: 12px 10px;}
.tbl-tk th.last,.tbl-tk td.last{ border-right: none;}
.tbl-tk .run{ float: left; width: 72%; height: 10px; margin: 0px 10px 0px 0px;}
.tbl-tk td{ color: #787878; line-height: 10px; font-size: 10px;}
.tbl-tk td strong{ font-size: 12px; color: #111;}
.tbl-tk .runing{ background: url(../images/sprites.png) no-repeat -363px -1236px; font-size: 0%; line-height: 0%; height: 10px;}
.tbl-tk1 th{ font-weight: normal;}
.tbl-tk1 .run{ width: 82% !important;}
.select-provice-num .left-space{ padding-left: 70px;}
.tbl-tk1 .runing{ background-position: left -1670px;}
.tbl-num2 td.last{ font-size: 12px !important; color: #111;}
.tbl-ds td{ padding: 8px 15px; border-bottom: 1px solid #e1e1e1; border-top: 1px solid #fff; border-right: 1px solid #e1e1e1;}
.tbl-ds td.last{ border-right: none;}
.select-provice .rows{ margin: 0px 0px 10px;}
.select-provice .rows label{ display: inline-block; margin: 0px 5px 0px 0px; line-height: 28px;}
.select-provice .rows label.floatnone{ float: none; vertical-align: top;}
.select-provice .rows .span-input{ line-height: 28px; background: url(images/select-left.png) no-repeat left top; padding: 0px 0px 0px 12px; }
.datefrom .span-input input{ background: url(images/date-input.png) no-repeat right top; border: none; height: 28px; padding: 0px 30px 0px 0px; font: 12px/28px Tahoma, Geneva, sans-serif; width: 110px;}
.datefrom label.to{ margin: 0px 5px 0px 10px; font-weight: normal;}
.select-provice .datefrom{ padding: 0px 0px 0px 100px;}
.select-provice .rows .span-input input.txt-input,.box-ticket.select-provice .datefrom .span-input1 input,
.select-provice .rows .span-input a{ background: url(images/input-right.png) no-repeat right top; height: 28px; padding: 0px 10px 0px 0px; width: 225px; font: 12px/28px Tahoma, Geneva, sans-serif; border: none; }
.select-provice .seque{ padding: 0px 0px 0px 145px;}
.select-provice .rows .span-input input.txt-inputor{ width: 185px;}
.select-provice.rate-lo .rows{ padding: 0px;}
.select-provice .rows .label-title{ width: 80px; margin: 0px 10px 0px 0px; text-align: right;}
.select-provice .rows span.span-lookup{ padding: 0px 15px 0px 0px; }
.select-provice.rate-lo .rows .span-input.space{ margin: 0px 10px 0px 0px;}
.select-provice.rate-lo .rows .span-input input.txt-liver{ width: 40px; }
.rows-provide div{ margin: 0px 0px 10px;
}
.rows-provide{ padding: 0px 0px 0px 30px;}
.select-provice .rows .span-input{ display: inline-block; line-height: 28px; background: url(images/select-left.png) no-repeat left top; padding: 0px 0px 0px 12px; }
div.note{ padding: 20px 10px;}
a.read-more{ display: inline-block; background: url(images/bg-button.png) no-repeat left top; padding: 0px 0px 0px 14px; line-height: 12px; *display: inline; }
a.read-more span{ display: inline-block; background: url(images/bg-button.png) no-repeat right bottom; padding: 8px 15px 7px 1px; line-height: 12px; color: #a20906; text-shadow: 1px 1px 0px #ffdf00; *display: inline;}
table td.bg-yelow{ background: #f9e9ac; border-right: 1px solid #eada9d;}
.bg-shadow .box-fromto{ margin: 0px 0px 10px;}
.select-provice .rows .left{ float: left;}
.select-provice .rows .right{ float: right;}
.select-provice .rows .span-input a{ width: auto; display: block;}
.view-day{ text-align: center; line-height: 28px; margin: -40px 0px 0px;}
.bg-shadow  .tabs-note{ margin: 18px 0px 0px;}
.tabs-note a {
    background: url(images/icon.png) no-repeat left top;
    color: #111111;
    margin: 0 15px 0 0;
    padding: 0 0 5px 22px;
}
.tabs-note a.span-dvo { background-position: left -62px;}
.box-dvs{ padding: 15px 0px; line-height: 20px;}
.box-dvs p{ margin: 0px 0px 15px;}
.waiting{ padding: 10px 0px;}
.waiting img{ margin: 0px 0px 10px;}
.tabs-provide{ padding: 3px 0px; text-align: center; line-height: 23px;}
.tabs-provide li{ display: inline-block; }
.tabs-provide li a{ display: inline-block; color: #aa0c08; text-transform: uppercase;}
.tabs-provide li a{ padding: 0px 15px; line-height: 23px; text-transform: uppercase;}
.tabs-provide li a:hover,.tabs-provide li a.active{
	 background-color: #b7100d;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#b7100d), to(#9d0804)); /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, #b7100d, #9d0804); /* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image:    -moz-linear-gradient(top, #b7100d, #9d0804); /* FF3.6 */
  background-image:     -ms-linear-gradient(top, #b8110d, #9d0804); /* IE10 */
  background-image:      -o-linear-gradient(top, #b8110d, #9d0804); /* Opera 11.10+ */
  background-image:         linear-gradient(to bottom, #b8110d, #9d0804); color: #fff; text-decoration: none;border-radius: 2px; -moz-border-radius: 2px; -webkit-border-radius: 2px;
	
}
.box-current{ padding: 15px 0px;}
.box-current p{ margin: 0px 0px 7px;}
.box-wait{ background: url(images/box-result.png) no-repeat left top; width: 310px; margin: 0 auto 20px; height: 96px;}
.wait-inner{ padding: 10px 38px;}
.wait-inner li{ float: left; width: 60px; text-align: center; margin: 0px 9px; color: #333; text-transform: uppercase;}
.wait-inner li .num{ display: block; background: url(images/cri-red.png) no-repeat left top; line-height: 60px; font-weight: bold; color: #fff; font-size: 30px; margin: 0px 0px 2px;}
.txt-update{ padding: 0px 10px 20px; border-bottom: 1px solid #dfdfdf; }
.box-note{ text-align: center; border-top: 1px solid #fff; padding: 20px 0px 0px;}
.box-note p{ margin: 0px 0px 15px;}
.select-provice .rows-provide1 .label-title{ width: 120px;}
.tbl-ds .run {
    float: left;
    height: 10px;
    margin: 0 10px 0 0;
    width: 72%;
}
.tbl-ds .runing {
    background: url(images/tk.png) no-repeat left top;
    font-size: 0;
    height: 10px;
    line-height: 0;
}
.txt-gray{ color: #999 !important;}

.line-red{ font-size: 0%; line-height: 0%; height: 2px; background: #ae0d09;  margin: 0 auto;}
.view-result{ margin: 0px 0px 10px;}
.share-right{ padding: 7px 0px 0px;}
.share-like a{ float: left; width: 19px; height: 17px; font-size: 0%; line-height: 0%; background: url(../images/sprites.png) no-repeat left -2893px; margin: 0px 10px 0px 0px; }
.share-like a.share-g{ background-position: left -2893px; }
.share-like a.share-flick{ background-position: -29px -2893px; }
.share-like a.share-f{ background-position: -57px -2893px; }
.share-like a.share-t{ background-position: -85px -2893px; }
.share-like a.share-tt{ background-position: -113px -2893px; }
.share-like a.share-yahoo{ background-position: -141px -2893px; }
.share-like a.share-email{ background-position: left -2923px;}
.mb10{margin-bottom: 10px}

/*footer*/
.footer{ background: #930401 url(images/bg-footer.png) repeat-x left top; padding: 10px 12px; text-align: center; line-height: normal; font-size: 11px; color: #fff; margin: 30px 0px 0px; }
.footer a{ color: #fff; display: block; margin: 0px 0px 5px;}
.footer address{ font-style: normal;}


/*Clearfix*/ 
.clearfix { display: inline-block; }
html[xmlns] .clearfix { display: block;}
* html .clearfix {height: 1%;}
.clear {clear: both;}
.clearfix:after {content: ".";display: block;clear: both;visibility: hidden;line-height: 0;height: 0;}